// Manticore Additions

// CSS Variables
:root {
  // Fonts
  --font-oswald: "Oswald", sans-serif;

  // Manticore Colors
  --manti-color-black: #20232a;

  --manti-color-orange: #ff9000;
  --manti-color-orange--light: hsla(34, 100%, 50%, 0.54);
  --manti-color-orange--lighter: hsla(34, 100%, 50%, 0.38);
  --manti-color-orange--lightest: hsla(34, 100%, 50%, 0.12);
  --manti-color-orange--transparent: hsla(0, 0%, 100%, 0);

  --manti-color-blue: #3b8bd2;

  // Material Design Colors
  --color-md--dark: #121212;
  --color-md--light: #212121;
  --color-md--lighter: #303030;
  --color-md--lightest: #424242;

  // Primary and accent colors
  --color-accent: var(--manti-color-orange);

  // Actually white, sorry :/
  --color-black: hsla(0, 0%, 100%, 1);
  --color-black--light: hsla(0, 0%, 100%, 0.54);
  --color-black--lighter: hsla(0, 0%, 100%, 0.38);
  --color-black--lightest: hsla(0, 0%, 100%, 0.12);
  --color-black--transparent: hsla(0, 0%, 100%, 0);

  // White
  --color-background: hsla(0, 0%, 100%, 1);
  --color-background--light: hsla(0, 0%, 100%, 0.54);
  --color-background--lighter: hsla(0, 0%, 100%, 0.26);
  --color-background--lightest: hsla(0, 0%, 100%, 0.07);
  --color-background--transparent: hsla(0, 0%, 100%, 0);

  // #121212
  --color-white: hsla(0, 0%, 7%, 1);
  --color-white--light: hsla(0, 0%, 7%, 0.54);
  --color-white--lighter: hsla(0, 0%, 7%, 0.26);
  --color-white--lightest: hsla(0, 0%, 7%, 0.07);
  --color-white--transparent: hsla(0, 0%, 7%, 0);

  // Manticore Grey
  --color-text: hsla(222, 14%, 15%, 0.87);
  --color-text--light: hsla(222, 14%, 15%, 0.54);
  --color-text--lighter: hsla(222, 14%, 15%, 0.26);
  --color-text--lightest: hsla(222, 14%, 15%, 0.07);
  --color-text--transparent: hsla(222, 14%, 15%, 0);

  // Black
  --color-primary: hsla(0, 0%, 0%, 1);
  --color-primary--light: hsla(0, 0%, 0%, 0.54);
  --color-primary--lighter: hsla(0, 0%, 0%, 0.38);
  --color-primary--lightest: hsla(0, 0%, 0%, 0.12);
  --color-primary--transparent: hsla(0, 0%, 0%, 0);
}

// Dark Mode
:root.dark-mode {
  // #121212
  --color-background: hsla(0, 0%, 7%, 1);
  --color-background--light: hsla(0, 0%, 7%, 0.54);
  --color-background--lighter: hsla(0, 0%, 7%, 0.26);
  --color-background--lightest: hsla(0, 0%, 7%, 0.07);
  --color-background--transparent: hsla(0, 0%, 7%, 0);

  // Actually black, sorry :/
  --color-white: hsla(0, 0%, 0%, 1);
  --color-white--light: hsla(0, 0%, 0%, 0.54);
  --color-white--lighter: hsla(0, 0%, 0%, 0.38);
  --color-white--lightest: hsla(0, 0%, 0%, 0.12);
  --color-white--transparent: hsla(0, 0%, 0%, 0);

  --color-primary: hsla(222, 14%, 15%, 1);
  --color-primary--light: hsla(222, 14%, 15%, 0.54);
  --color-primary--lighter: hsla(222, 14%, 15%, 0.26);
  --color-primary--lightest: hsla(222, 14%, 15%, 0.07);
  --color-primary--transparent: hsla(222, 14%, 15%, 0);

  // Actually white, sorry :/
  --color-text: hsla(0, 0%, 100%, 1);
  --color-text--light: hsla(0, 0%, 100%, 0.7);
  --color-text--lighter: hsla(0, 0%, 100%, 0.38);
  --color-text--lightest: hsla(0, 0%, 100%, 0.12);
  --color-text--transparent: hsla(0, 0%, 100%, 0);

  --color-black: hsla(0, 0%, 100%, 1);
  --color-black--light: hsla(0, 0%, 100%, 0.7);
  --color-black--lighter: hsla(0, 0%, 100%, 0.38);
  --color-black--lightest: hsla(0, 0%, 100%, 0.12);
  --color-black--transparent: hsla(0, 0%, 100%, 0);
}

.md-container,
.md-main {
  background-color: var(--color-background);
  color: var(--color-text);
}

.md-nav__title,
div.md-sidebar.md-sidebar--primary > div > div > nav > label > a {
  color: #cc7400;
  font-size: 18px;
}

// Generic .center

.center {
  display: block;
  margin: 15px auto;
}

// Image Cluster

.image-cluster {
  text-align: center;
  margin-bottom: 15px !important;
}

.image-cluster img {
  width: 40%;
  margin: 15px 0 auto;
}

.image-cluster em {
  font-style: italic;
  display: block;
}

.image-inline-text img {
  vertical-align: middle;
}

// YouTube

.youtube-video {
  width: 640px;
  height: 360px;
  border: 0px;
}

// Good / Bad / Exception

.md-typeset .style-good {
  color: green;
  font-weight: bold;
  margin-bottom: 0;
}

.md-typeset .style-good + .codehilitetable {
  margin-top: 0;
  background-color: #ecffe5;
}

.md-typeset .style-bad {
  color: red;
  font-weight: bold;
  margin-bottom: 0;
}

.md-typeset .style-bad + .codehilitetable {
  margin-top: 0;
  background-color: #ffecec;
}

.md-typeset .style-exception {
  color: orange;
  font-weight: bold;
  margin-bottom: 0;
}

.md-typeset .style-exception + .codehilitetable {
  margin-top: 0;
  background-color: #fffaf1;
}
